<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/create_community.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Create Community</title>
   
</head>
<body>

    

    <div class="container">
        <h2>Create a New Community</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_name">Community Name:</label>
                {{ form.name }}
            </div>
            <div>
                <label for="id_communityDescription">Description:</label>
                {{ form.communityDescription }}
            </div>
            <div>
                <label for="id_communityCategory">Category:</label>
                {{ form.communityCategory }}
            </div>
            <button type="submit">Create Community</button>
        </form>

        {% if form.errors %}
        <ul class="error-list">
            {% for field, errors in form.errors.items %}
                <li><strong>{{ field }}:</strong> {{ errors.0 }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
    </div>

    <nav class="bottom-navbar">
        <a href="{% url 'communities' %}" class="nav-item">
            <i class="fa fa-arrow-left"></i>
            <span class="tooltip">Communities</span>
        </a>
        
        <a href="{% url 'my_communities' %}" class="nav-item">
            <i class="fa fa-users"></i>  <!-- Events Icon -->
            <span class="tooltip">My Communities</span>
        </a>
        <a href="{% url 'join_community' %}" class="nav-item">
            <i class="fa fa-sign-in"></i>  <!-- Search Icon -->
            <span class="tooltip">Join Communities</span>
        </a>
        <a href="{% url 'home' %}" class="nav-item">
            <i class="fa fa-home"></i>  <!-- Communities Icon -->
            <span class="tooltip">Home</span>
        </a>
    </nav>
</body>
</html>
