<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    {% block content %}
        <h2>Search Results for Communities: "{{ query }}"</h2>
        
        {% if results %}
            <div class="results-grid">
                {% for community in results %}
                    <div class="result-card">
                        <h3 class="result-title">
                            <a href="{% url 'view_community' community.communityID %}">{{ community.name }}</a>
                        </h3>
                        <p class="result-info">Category: {{ community.communityCategory }}</p>
                        <a href="{% url 'view_community' community.communityID %}" class="view-details-btn">View Details</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-results">No communities found.</p>
        {% endif %}
    {% endblock %}
</body>
</html>