<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/home.css' %}">
</head>
<body>
    {% block content %}
        <h2>Search Results for Events: "{{ query }}"</h2>
        
        {% if results %}
            <ul>
                {% for event in results %}
                    <li>
                        <strong><a href="{% url 'view_event' event.0 %}">{{ event.1 }}</a></strong> - {{ event.2 }} ({{ event.3 }})
                        <br> Location: {{ event.4 }}
                        <br> Community: {{ event.6 }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No events found.</p>
        {% endif %}
    {% endblock %}
</body>
</html>